name: CI

on:
  push:
    branches:
    - main
    paths:
    - '**.swift'
    - '**.yml'
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-ci
  cancel-in-progress: true

env:
  FUZZING_SERVER: autobahn
jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ["swift:5.10", "swift:6.0", "swiftlang/swift:nightly-6.1-jammy"]
    container:
      image: ${{ matrix.image }}
    services:
      autobahn:
        image: crossbario/autobahn-testsuite
        options: --name fuzzingserver
        ports:
          - 9001:9001
        volumes:
          - ${{ github.workspace }}/scripts/autobahn-config:/config

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Restart Autobahn
      # The autobahn service container is started *before* swift-websocket is checked
      # out. Restarting the container after the checkout step is needed for the
      # container to see volumes populated from the checked out workspace.
      uses: docker://docker
      with:
        args: docker restart fuzzingserver

    - name: Test
      run: |
        swift test --enable-code-coverage
    - name: Convert coverage files
      run: |
        llvm-cov export -format="lcov" \
          .build/debug/swift-websocketPackageTests.xctest \
          -ignore-filename-regex="\/Tests\/" \
          -ignore-filename-regex="\/Benchmarks\/" \
          -instr-profile .build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v5
      with:
        files: info.lcov
